---

Language: Cpp
BasedOnStyle: Google

UseTab: true
AccessModifierOffset: -4
TabWidth: 4
IndentWidth: 4
ColumnLimit: 100

# 指针引用 对齐方式
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left

SortIncludes: false
SortUsingDeclarations: false

SpacesBeforeTrailingComments: 1
AlignTrailingComments: true

AllowShortFunctionsOnASingleLine: true
AllowShortLambdasOnASingleLine: true